.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	white-space: nowrap;
}
.Header {
	position: absolute;
}
.nav {
	display: flex;
	flex-direction: row;
	position: absolute;
	margin-top: 4vh;
	margin-left: 55vw;
	width: 100%;
	column-gap: 5vw;
	text-overflow: clip;
	opacity: 0.9;
}
.nav-text:hover {
	color: #fff;
	opacity: 1;
}
