body,
html {
	margin: 0;
	font-family: "Ubuntu";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	top: 0;
	background-color: #181818;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #d0d0d0;
	font-size: 1.042vw;
}
